:root {
  /* primary color */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* neutral color */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  /* fonts */
  --Font-family: "Spartan", sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  /* border radius */
  --border-radius: 0.5rem;
}

body {
  font-family: var(--Font-family);
  position: relative;
}
.bg-top {
  position: absolute;
  right: 10%;
}
.bg-bottom {
  position: absolute;
  top: 80%;
}

/* 
======
Main
======
 */
.review-banner {
  width: 90vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.review {
  width: 22rem;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 3rem;
}
.review-title {
  color: var(--Very-Dark-Magenta);
}
.review-p {
  width: 22rem;
  color: var(--Dark-Grayish-Magenta);
  font-size: 0.95rem;
  line-height: 1.8;
  font-weight: var(--font-weight-2);
}

.rating {
  background: var(--Light-Grayish-Magenta);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 6rem;
  width: 22rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
}
.star-sign {
  background: url(../images/icon-star.svg) space;
  width: 6.3rem;
  height: 1.2rem;
  overflow: hidden;
}
.rated-platform {
  color: var(--Very-Dark-Magenta);
  font-weight: var(--font-weight-3);
  font-size: 0.8rem;
  padding-top: 1rem;
}
.review-card {
  width: 22rem;
  height: 16rem;
  background: var(--Very-Dark-Magenta);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 2rem 2rem;
}
.part-2 {
  margin-top: 3rem;
}
.profile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.8rem;
}
.profile h2 {
  font-size: 0.87rem;
  color: var(--White);
}
.profile span {
  color: var(--Soft-Pink);
  font-weight: var(--font-weight-2);
  line-height: 1.8;
}
.opinion {
  font-size: 0.87rem;
  color: var(--White);
  padding-top: 2rem;
  text-align: start;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .part-1 {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .review {
    text-align: start;
    margin-left: 0;
    width: 26rem;
  }
  .review-title {
    font-size: 2.4rem;
  }
  .review-p {
    line-height: 1.5;
    font-size: 0.8rem;
    width: 26rem;
  }
  .rating {
    width: 27rem;
    height: 3rem;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
    padding-right: 3rem;
    padding-left: 2rem;
    margin-top: 1rem;
    flex: 1 1 27rem;
  }
  .rated-platform p {
    padding-bottom: 1rem;
  }
  .ratings {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .rating-1 {
    grid-column: 1/9;
    grid-row: 1/2;
  }
  .rating-2 {
    grid-column: 2/9;
    grid-row: 2/3;
  }
  .rating-3 {
    grid-column: 3/9;
    grid-row: 3/4;
  }
  .part-2 {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  .review-card {
    flex: 1 0 22rem;
  }
  .middle {
    margin-top: 1.2rem;
  }
  .right {
    margin-top: 2.4rem;
  }
  .bg-top {
    bottom: 80%;
    right: 55%;
  }
  .bg-bottom {
    top: 40%;
    left: 50%;
  }
}

/* 
 ======
 footer
======
 */
.attribution {
  font-size: 0.6rem;
  text-align: center;
  color: var(--Soft-Pink);
  padding-bottom: 1rem;
}
.attribution a {
  color: var(--Very-Dark-Magenta);
}
